{#<html>#}
{##}
{#<head>#}
{#    <meta http-equiv="X-UA-Compatible" content="IE=edge" />#}
{#    <script src="https://www.paypalobjects.com/api/checkout.js"></script>#}
{#</head>#}
{##}
{#<body>#}
{#    <div id="paypal-button-container"></div>#}
{##}
{#    <script>#}
{#        paypal.Button.render({#}
{##}
{#            env: 'sandbox', // sandbox | production#}
{##}
{#            // Show the buyer a 'Pay Now' button in the checkout flow#}
{#            commit: true,#}
{##}
{#            // payment() is called when the button is clicked#}
{#            payment: function() {#}
{##}
{#                // Set up a url on your server to create the payment#}
{#                var CREATE_URL = '/demo/checkout/api/paypal/payment/create/';#}
{##}
{#                // Make a call to your server to set up the payment#}
{#                return paypal.request.post(CREATE_URL)#}
{#                    .then(function(res) {#}
{#                        return res.paymentID;#}
{#                    });#}
{#            },#}
{##}
{#            // onAuthorize() is called when the buyer approves the payment#}
{#            onAuthorize: function(data, actions) {#}
{##}
{#                // Set up a url on your server to execute the payment#}
{#                var EXECUTE_URL = '/demo/checkout/api/paypal/payment/execute/';#}
{##}
{#                // Set up the data you need to pass to your server#}
{#                var data = {#}
{#                    paymentID: data.paymentID,#}
{#                    payerID: data.payerID#}
{#                };#}
{##}
{#                // Make a call to your server to execute the payment#}
{#                return paypal.request.post(EXECUTE_URL, data)#}
{#                    .then(function (res) {#}
{#                        window.alert('Payment Complete!');#}
{#                    });#}
{#            }#}
{##}
{#        }, '#paypal-button-container');#}
{#    </script>#}
{#</body>#}
{#</html>#}


<html>

<head>
    <title></title>
</head>
<body>

<form action="" method="post">
    <table>
        <tbody>
        {% if errors %}
        <tr>
            <td colspan="2" align="center">{{ errors }}</td>
        </tr>
        {% endif %}
        <tr>
            <td colspan="2" align="center"><a href="?express">Pay by PayPal</a></td>
        </tr>
        {{ form.as_table }}
        <tr>
            <td colspan="2" align="right"><input type="submit"/></td>
        </tr>
        </tbody>
    </table>
</form>
<script>
    document.getElementsByName('acct')[0].setAttribute('value','5555555555554444')
    document.getElementsByName('cvv2')[0].setAttribute('value','123')
    document.getElementsByName('cvv2')[0].setAttribute('value','123')
</script>
</body>


</html>


